<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.frostchein.atlant">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <application
    android:allowBackup="true"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name="com.frostchein.atlant.MyApplication"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.NoActionBar.Image">

    <activity
      android:name="com.frostchein.atlant.activities.main.MainActivity"
      android:theme="@style/AppTheme.NoActionBar.SplashScreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name="com.frostchein.atlant.activities.home.HomeActivity"/>
    <activity android:name="com.frostchein.atlant.activities.login_selected.LoginSelectedActivity"/>
    <activity android:name="com.frostchein.atlant.activities.login_selected_app.LoginSelectedAppActivity"/>
    <activity android:name="com.frostchein.atlant.activities.export_wallet.ExportActivity"/>
    <activity android:name="com.frostchein.atlant.activities.receive.ReceiveActivity"/>
    <activity android:name="com.frostchein.atlant.activities.camera.CameraActivity"/>

    <activity
      android:name="com.frostchein.atlant.activities.settings.SettingsActivity"
      android:theme="@style/AppTheme.NoActionBar.Settings"/>

    <activity
      android:name="com.frostchein.atlant.activities.login.LoginActivity"
      android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity
      android:name="com.frostchein.atlant.activities.send.SendActivity"
      android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity
      android:name="com.frostchein.atlant.activities.import_wallet.ImportActivity"
      android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity
      android:name="com.frostchein.atlant.activities.rent_start.RentStartActivity"
      android:theme="@style/AppTheme.NoActionBar.Gradient"/>

    <activity
      android:name="com.frostchein.atlant.activities.rent_main.RentMainActivity"
      android:theme="@style/AppTheme.NoActionBar.Gradient"/>

    <activity
      android:name="com.frostchein.atlant.activities.rent_details.RentDetailsActivity"
      android:theme="@style/AppTheme.NoActionBar.Gradient"/>

    <activity
      android:name="com.frostchein.atlant.activities.trade_start.TradeStartActivity"
      android:theme="@style/AppTheme.NoActionBar.Gradient"/>

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_maps_key"/>

  </application>

</manifest>